# Папки IDE
.idea/
.vscode/

# Виртуальное окружение
venv/
env/

# Python кэши
__pycache__/
*.pyc
*.pyo

# Переменные окружения и секреты
.env

# macOS и Windows мусор
.DS_Store
Thumbs.db
*.egg-info/
